body {
  background: #00001e;
  color: #e2e0e0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 800;
}


input,
button,
select {
  background: #d6ff00;
  padding: 8px;
  border-radius: 8px;
  color: #00001e;
  font-weight: 800;

  &::placeholder {
    color: #17174c;
  }
}

button,
select {
  cursor: pointer;
}
